ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: lightblue;
    overflow: auto;
}
li a{
    background-color: lightblue;
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: rgb(4, 4, 88);
}
li a:hover{
    background-color: blue;
    color: white;
}
li a.activo{
    background-color: darkcyan;
    
}
li a:hover:not(.activo){
    background-color: blue;
    color: white;
}
.capa1{
    margin-left: 25%;
    padding: 12px;
    height: 1000px;
}
h1{
    font-family: "Ysabeau SC", sans-serif;

}
h2{
    font-family: "Lora", serif;
}
@font-face { /*Aplicar fuente descargando de la fuente*/
    font-family: "parrafos";
    src: url(Fira_Sans/FiraSans-LightItalic.ttf) format("truetype");
}
p{
    font-family: 'parrafos';
}

