a{
    text-decoration: none;
    color: white;
}
body{
    background-image: url(fondoPaginaPrin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
   
}
@font-face{
    font-family: notosans;
    src: url(Noto_Sans/NotoSans-Italic-VariableFont_wdth\,wght.ttf);
    
}
@font-face {
    font-family:"lato" ;
    src: url(Lato/Lato-Black.ttf) format(truetype);
}
button{
    border-radius: 20px;
		border: 2px solid #ffffff;
		padding: 9px;
		box-sizing: border-box;
		margin-top: 10px;
		background-color: #a84105;
		color: white;
        font-size: 15px;
        cursor: pointer;
        width: 100px;
        margin-bottom: 10px;
}
button:hover{
    background-color: #ffffff;
    color: #09062e;
    font-size: 15px;
}
button.pago{
    width: 170px;
}
button.Buzon{
    width: 170px;
}
button.ver_menu{
    width: 170px;
}
header.titulo{
    font-size: 250%;
    color: #ff7124;
    font-family: "lato";
    text-align: center;
    
}
p{
    text-align: justify;
    font-size: 100%;
    font-family: notosans;
    color: #e8dfd5; 
    padding: 15px;
    
}
.botones{
    width: 99%;
   text-align: center;
    padding: 10px;
    background-color: #171a43;
    border-radius: 20px;
    border-radius: 20px;
    justify-content: center;
    width: 90vw;         
}
.contenido2{
    background-color: #171a43cb;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 65vw;
    min-height: 100px;
    bottom: 20px;
    overflow: auto;
}
.contenido3{
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
}
.contenido{
    display: flex;
    justify-content: center;

}
button.ver_menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
   

@media(max-width: 500px){
    .contenido2{
        flex-direction: column;
    }
}
   